.main-container {
  background-color: #f4f5f8;
  height: 90vh;
  width: 90vw;
  margin-inline: auto;
  border-radius: 20px;
  display: flex;
}

.sidebar {
  flex: 0.3;
  display: flex;
  flex-direction: column;
}
.chatArea-container {
  flex: 0.7;
  display: flex;
  flex-direction: column;
}
.sb-header {
  background-color: white;
  border-radius: 20px;
  padding: 10px 5px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.sb-search {
  background-color: white;
  border-radius: 20px;
  padding: 5px 5px;
  margin: 5px 10px;
  display: flex;
  align-items: center;
}
.searchbox {
  border: none;
  outline: none;
  padding: 2px;
  font-size: 1rem;
}
.sb-conversations {
  background-color: white;
  border-radius: 20px;
  padding: 5px 5px;
  margin: 10px;
  flex: 1;
}

.sb-chatitem {
  display: grid;
  grid-template-columns: 32px auto auto;
  grid-template-rows: auto auto;
  gap: 12px;
  margin: 5px;
  padding: 5px;
}

.sb-name {
  font-size: 17px;
}

.sb-lastmessage {
  font-size: 14px;
  color: gray;
}

.sb-timestamp {
  font-size: 13px;
  display: flex;
  align-items: end;
  justify-content: end;
  text-transform: capitalize;
}

.ca-header {
  border-radius: 12px;
  padding: 10px 5px;
  margin: 10px 5px;
  background-color: white;
}
.ca-messages {
  background-color: white;
  border-radius: 12px;
  padding: 5px 5px;
  margin: 3px 5px;
}
.ca-text {
  background-color: white;
  border-radius: 12px;
  padding: 5px 5px;
  margin: 5px 5px;
  flex: 0.07;
}
.ch-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-header {
  display: flex;
  gap: 10px;
}

.ca-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ca-text > input {
  flex: 1;
  outline: none;
  border: none;
  font-size: 16px;
}

.ch-status {
  font-size: 12px;
}
.ca-messages {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* justify-content: end; */
  flex: flex-end;
  flex: 1;
  overflow: scroll;
}
.selfMessage-container {
  background-color: aquamarine;
  border-radius: 12px;
  width: max-content;
  padding: 5px 5px;
  margin-left: auto;
  display: flex;
}
.sm-timestamp {
  display: flex;
  justify-content: end;
  font-size: 10px;
  color: gray;
}
.recievedMessage-container {
  display: flex;
  padding: 5px 5px;
  gap: 10px;
  width: max-content;
  border-radius: 12px;
}
.rm-box {
  background-color: #f4f5f8;
  padding: 5px 5px;
  border-radius: 12px;
}

.rm-timestamp {
  display: flex;
  justify-content: end;
  font-size: 10px;
  color: gray;
}

.ca-message-container {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ca-messages::-webkit-scrollbar {
  display: none; /* Set the width of the scrollbar */
}

.welcome-container {
  flex: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-logo {
  width: 40%;
}

.welcome-title {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.welcome-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-slogan {
  color: gray;
}

.cg-container {
  flex: 0.7;
  display: flex;
  align-items: center;
}
.cg-box {
  background-color: white;
  margin-inline: auto;
  width: 90%;
  display: flex;
  border-radius: 10px;
  padding: 5px;
}

.cg-box > input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 18px;
}
