* {
  margin: 0;
}

.App {
  background-color: #dedede;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.App-dark {
  background-color: rgb(71, 67, 67);
  min-height: 100vh;
  display: flex;
  align-items: center;
}
